<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>:
        <?= $this->fetch('title') ?>
    </title>
    <?= $this->Html->meta('icon') ?>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('style.css') ?>

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>

</style>
</head>
<body>
    <nav class="top-bar expanded" data-topbar role="navigation">
        <!-- <ul class="title-area large-3 medium-4 columns">
            <li class="name">
                <h1><a href=""><?= $this->fetch('title') ?></a></h1>
                <h1>Microblog</a></h1>
                <img src="/img/uploads/posty.png" height="150" width="150" alt="Microblog"/>


            </li>
        </ul> -->
        <div class="top-bar-section">
            <ul class="left">
            <li><img src="/img/uploads/posty.png" height="100" width="100" alt="Microblog"/></li>
            </ul>
            <ul class="right">
                <?php if($auth) {?>
                <!-- <li><a target="_blank" href="https://book.cakephp.org/3.0/"><?php echo $auth['User']['username']; ?></a>
                </li> -->
                <br>
                <li>
                <h5><?php echo $this->Html->link($auth['User']['username'],['controller'=> 'posts',
                'action'=>'profile']); ?></h5></li>
                <li><h5><?php echo $this->Html->link('Home',['controller'=> 'posts',
                'action'=>'home']); ?></h5></li>
                <li><h5><?php echo $this->Html->link('Search Users',['controller'=> 'users',
                'action'=>'allusers']); ?></h5></li>
                <li><h5><?php echo $this->Html->link('Followers',['controller'=> 'users',
                'action'=>'followers']); ?></h5></li>
                <li><h5><?php echo $this->Html->link('Logout',['controller'=> 'users',
                'action'=>'logout']); ?></h5></li>
                <?php } ?>

            </ul>
        </div>
    </nav>
    <?= $this->Flash->render() ?>
    <div class="container clearfix">
        <?= $this->fetch('content') ?>
    </div>
    <footer>
    </footer>
</body>
</html>
