<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\User[]|\Cake\Collection\CollectionInterface $users
 */
?>
<!-- <nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav"> -->

        <!-- <?php if($auth) {?> -->
       <!--  <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New User'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Likes'), ['controller' => 'Likes', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Like'), ['controller' => 'Likes', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Posts'), ['controller' => 'Posts', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Post'), ['controller' => 'Posts', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Retweets'), ['controller' => 'Retweets', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('Edit Profile'), ['action' => 'edit', $auth['User']['id']]) ?></li> -->
                 <!-- <li><?php echo ('Id: '), $auth['User']['id']; ?>
                </li>  -->
                 
                
                  
                    <!-- <?php } ?>  -->
 

    <!-- </ul>
</nav> -->
<br>
     <p>Search for the user's username you want to follow</p>
<div class="col-md-3">
    <form action="<?php echo $this->Url->build(['action' => 'allusers'])?>" method="get">
        <div class= "input=group">

            <input type="search" name="q" class="form-control">
            <div class="input-group-prepend">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div> 
        
    </form>
</div>

<div class="users index large-9 medium-8 columns content">
    <h3><?= __('Search for users') ?></h3>

    <col width="400">
    <col width="400">
    <table cellpadding="0" cellspacing="0">
        
        <thead>
            <tr>
<!--                 <th scope="col"><?= $this->Paginator->sort('id') ?></th>
 -->            <th scope="col"><?= $this->Paginator->sort('username') ?></th>
                <th scope="col"><?= $this->Paginator->sort('email') ?></th>
               <!--  <th scope="col"><?= $this->Paginator->sort('password') ?></th>
                <th scope="col"><?= $this->Paginator->sort('bio') ?></th>
                <th scope="col"><?= $this->Paginator->sort('is_activated') ?></th>
                <th scope="col"><?= $this->Paginator->sort('image') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th> -->
            </tr>   
        </thead>
        <?php foreach ($users as $users): ?>
    <tr>
                 <td><h5><?= h($users->username) ?></h5></td>
                 <td><h5><?= h($users->email) ?></h5></td>
            
                <td>
                    <h5><?= $this->Html->link(__('View'), ['action' => 'view', $users->id]) ?></h5>
                     <br>
                    <br>
                    <!-- <?= $this->Html->link(__('Follow'), ['action' => 'view', $users->id]) ?> --> 
                </td>
             </tr>
            

                              <?php endforeach; ?>
        
    </table>
     <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div> 
</div>


<!-- asdas -->

